{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Control de Buenas Practicas</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'gerencial/favicon.png' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'gerencial/css/bootstrap.min.css' %}">
    <!-- -->
    <link rel="stylesheet" href="{% static 'gerencial/css/base.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href={% static 'gerencial/select2/select2.css'%}>

    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'gerencial/css/bootstrap-datepicker.min.css' %}">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'gerencial/css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'gerencial/css/multi-select.css' %}">

    <link rel="stylesheet" href="{% static 'gerencial/css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'gerencial/css/dataTable.boostrap.min.css' %}" />

    <!--EStilos Datatable-->
    <link rel="stylesheet" href="{% static 'gerencial/css/dataTables.bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'gerencial/css/buttons.dataTables.min.css' %}" />

    <!--EStilos Personales-->
    <link type="text/css" rel="stylesheet" href="{% static 'gerencial/css/estilos_personales.css' %}" />
    <script src="{% static 'gerencial/js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'gerencial/js/base64.js' %}"></script>
<!--EStilos Personales -->
    <script type="text/javascript">
        $(document).ready(function() {
            var imagen = "{% static 'gerencial/img/quimica.png' %}";

            to_data_url(imagen, function(data) {
                imagen = data;
            });

            var img = document.createElement("img");
            img.src = imagen;
            $("#imagen").html(img);
        });
    </script>

</head>
<body>
<header>
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li class="hide-on-small-only"><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'logout' %}"><i class="material-icons right">exit_to_app</i>Cerrar Sesion</a></li>
            </ul>
        </div>
    </nav>
</header>
<aside >
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><div class="user-view">
            <div class="background">
                <img src="{% static 'gerencial/img/solid_img.PNG' %}" >
            </div>
            <a href="{% url 'cuenta' %}"><span class="white-text name">{{ request.user.first_name}} {{ request.user.last_name}}</span></a>
            <span class="white-text email">{{ request.user.email }}</span>
        </div></li>

        {% for groups in request.user.groups.values_list %}
            {% for group in groups %}
                {% if group == 'Estrategico'%}
                    <div class="divider"></div>
                    <div class="sidenav-item">
                        <a href="#"><p class="center-align">Informe de Planes de Acciones Correctivas y Preventivas</p></a>
                    </div>

                {% elif group == 'Tactico'%}
                    <div class="divider"></div>
                    <div class="sidenav-item">
                        <a href="#"><center>Informe de Grado de Cumplimiento de Buenas Prácticas</center></a>
                    </div>
                {%elif group == 'Administrador'%}
                    </div><div class="divider"></div></li>
                    <div class="sidenav-item"><a href="{% url 'agregar_usuarios' %}"><center>Agregar Usuario</center></a></div>
                    <div class="sidenav-item"><a href="{% url 'usuarios' %}"><center>Consultar Usuarios</center></a></div>
                    <div class="sidenav-item"><a href="{% url 'reporte_bitacora' %}"><center>Bitacora de Acciones</center></a></div>
                    <div class="sidenav-item"><a href="{% url 'reporte_conexiones' %}"><center>Ultimas Conexiones</center></a></div>
                {%elif group == 'Operativo'%}

                    <ul class="collapsible" data-collapsible="accordion">

                    <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header">Captura de Datos</div>
                    <div class="collapsible-body"><span><a href="{% url 'registrar_empleado' %}"><center>Crear Expediente</center></a></span></div>
                    <div class="collapsible-body"><span><a href="{% url 'consultarEmpleados' %}"><center>Consultar Expedientes</center></a></span></div>
                    <div class="collapsible-body"><span><a href="{% url 'agregar_buena_practica' %}"><center>Agregar Buena Práctica</center></a></span></div>
                    <div class="collapsible-body"><span><a href="{% url 'consultarBuenasPracticas' %}"><center>Consultar Buenas Prácticas</center></a></span></div>
                    <div class="collapsible-body"><span><a href="{% url 'registro_inspeccion' %}"><center>Realizar Inspección</center></a></span></div>
                    <div class="collapsible-body"><span><a href="{% url 'consultarInspecciones' %}"><center>Consultar Inspecciones</center></a></span></div>

                </li>
                    <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header">Emisión de Reportes</div>
                    <div class="collapsible-body"><span><a href="{% url 'reporteExpedientes' %}"><center>Reporte de Expedientes</center></a></span></div>
                    <div class="collapsible-body"><span><a href="{% url 'reporteInspecciones' %}"><center>Reporte de Inspecciones</center></a></span></div>
                </li>
                    </ul>

                {%endif%}
             {% endfor %}
        {% endfor %}

    </ul>
</aside>
<main>
    <div class="container">
        {% block content %}
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                        <br><br><br><br>
                        <h4>FACULTAD DE QUIMICA Y FARMACIA UES</h4>
                        <h5>FQYF UES</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="center-align">
                    <div id="imagen">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="center-align">
                    <p style="font-size:125%;">Sistema de Información para la inspección de buenas prácticas en la manufactura de medicamentos en el laboratorio de la Facultad de Química y Farmacia de la UES.</p>
                </div>
            </div>
        {%endblock%}
    </div>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="{% static 'gerencial/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'gerencial/js/jquery.mask.js' %}"></script>
<script src="{% static 'gerencial/js/materialize.min.js' %}"></script>
<script src="{% static 'gerencial/js/sweetalert.min.js' %}"></script>
<script src="{% static 'gerencial/js/bootstrap.min.js' %}"></script>
<script src="{% static 'gerencial/select2/select2.js' %}"></script>
<script src="{% static 'gerencial/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'gerencial/js/bootstrap-datepicker.es.min.js' %}"></script>
<script src="{% static 'gerencial/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'gerencial/js/dataTables.boostrap.min.js' %}"></script>

<script src="{% static 'gerencial/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'gerencial/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'gerencial/js/jszip.min.js' %}"></script>
<script src="{% static 'gerencial/js/pdfmake.min.js' %}"></script>
<script src="{% static 'gerencial/js/vfs_fonts.js' %}"></script>
<script src="{% static 'gerencial/js/buttons.html5.min.js' %}"></script>

<script src="{% static 'gerencial/js/table.js' %}"></script>
{% if mensaje %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ mensaje }}', classes: 'rounded'}); })();
    </script>
{% endif %}
{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            (function () { M.toast({html: '{{ message.message }}', classes: 'rounded'}); })();
        </script>
    {% endfor %}
{% endif %}
<script type="text/javascript">
    (function () { M.AutoInit(); })();
</script>
{% block js %}
{% endblock %}
</body>
</html>