{% extends 'base.html' %}
{% load static %}
{% block content %}
    </br>
    <div class="col s12">
        <h5>Configuración de Cuenta de Usuario:</h5>
    </div>
    </br>
    </br>
    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">lock</i>
                <input id="contraseña" type="password" class="validate" name="contraseña">
                <label for="contraseña">Contraseña nueva:</label>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">lock</i>
                <input id="contraseña2" type="password" class="validate" name="contraseña2">
                <label for="contraseña2">Confirme contraseña nueva:</label>
            </div>

        </div>

        <button class="btn waves-effect waves-light"  type="submit" name="action" href="{% url 'cuenta' %}">Actualizar
            <i class="material-icons right">send</i>
        </button>
        <a class="btn btn-danger" href="{% url 'usuarios' %}" type="submit">Cancelar
                    <i class="material-icons right">cancel</i></a>
    </form>
{%endblock%}